#title {
    margin: auto;
    margin-top: 10%;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    padding: 10px;
    width: 50%;
}
p.center {
    text-align: center;
    color: white;
    font-family: Garamond, serif;
    font-size: 2em;
}
p.center:first-child {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3em;
}

body {
    margin: 0;
    background: linear-gradient(-120deg, #4088e6, #6559d8, #9749ca, #bb3f85, #e1307a, #f33737de);
    background-attachment: fixed;
    background-size: 400% 400%;
    animation: reactiveGradient 20s ease-in-out infinite;
}
@keyframes reactiveGradient {
    0% {background-position: 0% 50%;}
    50%{background-position: 100% 0%;}
    100%{background-position: 0% 50%;}
}

#header {
    position: relative;
}

#countdown {
    position: relative;
    top: 50px;
    margin: auto;
    width: 50%;
    padding: 10px;
}
.card {
    float: left;
    margin: 1%;
    height: auto;
    width: 23%;
    background: rgba(0, 0, 0, 0.3);
    box-shadow: 0 5px 20px 2px rgba(0, 0, 0, 0.5);
    color: white;
    box-sizing: border-box; 
}

h2 {
    font-size: 40px;
    text-align: center;
}

.card > p {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-variant: small-caps;
}

@media screen and (max-width: 1000px) {
    .card {
        float: none;
        width: 100%;
        box-sizing: border-box;
        padding-bottom: 5px;
        height: 110px;
        
    }
    #countdown {
        display: block;
        width: 75%;
    }
    .time {
        position: relative;
        top: 15px;
    }
  }
