#background-image {
    background-image: url(./images/Cold-Evenings.png);
    width: 100vw;
    height: 100vh;
}
#background-gradient {
    float: left;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #d369cc 46%, #f3f2f0 100%);
    width: 100vw;
    height: 100vh;
    opacity: 0.7;
    animation: switch 3.5s linear infinite alternate;
}
@keyframes switch {
    from {opacity: 0.7;}
    to {opacity: 0.3;}
    
}
#title {
    margin: auto;
    margin-top: 10%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    text-align: center;
    padding: 10px;
    width: 50%;
}
p.center {
    text-align: center;
    color: white;
    font-family: Garamond, serif;
    font-size: 2em;
}
p.center:first-child {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3em;
}
p.displayDate {
    font-style: bold;
    color: rgb(100, 100, 100);
}

#header {
    position: relative;
}
#countdown {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    padding: 10px;
}
.container-fluid {
    text-align: center;
    position: fixed;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 2.5%;
    height: auto;
    width: 200px;
    background-color: rgba(255, 255, 255, 0.767);
    box-shadow: 0 5px 20px 2px rgba(0, 0, 0, 0.5);
    border-radius: 5%;
    color: rgb(19, 19, 19);
    box-sizing: border-box; 
}
.time h2 {
    transition: transform 0.5s ease;
}
.time h2:hover {
    transform: scale(1.5);
    cursor: default;
}
.card > p {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
}
@media only screen and (max-width: 750px) {
    .card {
        font-size: 10px;
    }
    .time h2 {
        font-size: 25px;
    }
  }